<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/assests/style.css">

</head>
<body>
    <div class="container-fluid px-0 ">
            <div class="colSetengah sidenav" style="background-color: #0D28A6;" >
                <div class="d-flex flex-column align-items-center text-white">
                    <a href="/" class="d-flex align-items-center pb-4 justify-content-center">
                        <img src="/img/Rectangle63.png" alt="">
                    </a>
                    <a href="/" class="w-100 pt-3 logoSideBar d-flex flex-column align-items-center justify-content-center text-white text-decoration-none">
                        <img src="/img/Home.png" class="" />
                        <p class="pt-1">Dashboard</p>
                    </a>
                    <a href="/" class="w-100 pt-3 logoSideBar d-flex flex-column align-items-center justify-content-center text-white text-decoration-none">
                        <img src="/img/Truk.png" class="" />
                        <p class=" pt-1">Cars</p>
                    </a>
                </div>
            </div>
            

            <div class="col kanan">
                    <nav class="navbar navbar-expand-md navbar-light shadow-sm topbar px-4 py-3" style="background-color: white !important; "> 
                        <div class="container-fluid px-0">
                        <a class="" href="#">
                            <img src="/img/Rectangle62.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width:50vw">
                            <div class="offcanvas-header pb-0 pt-4">
                            <div id="offcanvasRightLabel" class="h5">BCR</div>
                            <button type="button" class="btn-close text-reset" style="padding-right: 15vw;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                            <div class="pb-3">
                                Our Services
                            </div>
                            <div class="pb-3">
                                Why Us
                            </div>
                            <div class="pb-3">
                                Testimony
                            </div>
                            <div class="pb-3">
                                FAQ
                            </div>
                            <div class="pb-3">
                                <button type="button" class="btn btn-primary">Success</button>
                            </div>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item d-flex ">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                                </li>
                               
                                    <button class="btn d-flex align-items-center" href="#">
                                        <i class="bi bi-person-circle"></i>
                                        <p class="m-0 mx-2">Jansen</p>
                                        <i class="bi bi-chevron-down"></i>
                                    </button>
                                    
                                
                            </ul>
                        </div>
                        </div>
                    </nav>

                    

                <div class="row g-0 " style="background-color: #f4f5f7;" >
                    <div class="colSatuSetengah" style="background-color: white; ">
                        <div class="row g-0 topbar1">
                            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white h-100" >
                                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto  text-decoration-none">
                                </a>
                                <div class="w-100 flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                    <div class="nav-item w-100">
                                        <a href="#" class="w-100 nav-link align-middle px-0 tulisanSideBar">
                                            <span class="ms-1 d-none d-sm-inline text-dark ps-4 h6">CARS</span>
                                        </a>
                                    </div>
                                    <div class="nav-item w-100">
                                        <a href="#" class=" w-100 nav-link align-middle px-0 tulisanSideBar">
                                            <span class="ms-1 d-none d-sm-inline text-dark ps-4 h6">List Car</span>
                                        </a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col position-relative pt-4 px-4" >
                        <div class="row">
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a style="text-decoration: none; color: black;">Cars</a></li>
                                <li class="breadcrumb-item"><a style="text-decoration: none; color: black;">List Car</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
                                </ol>
                            </nav>
                        </div>

                    <div class="col position-relative pb-5">
                        <div class="row g-0 px-4 ">
                            <h3 class="">Add New Car</h3>
                            <div class="col-12">

                               
                                <form method="post" action="/api/cars/<%= cars.id %>">
                                    <div class=" row">
                                        <label class="col-2 col-form-label required">Nama</label>
                                        <div class="col-4">
                                            <input name="nama" type="text" class="form-control" value="<%= cars.name %>" required>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <label class="col-2 col-form-label required">Sewa Per Hari</label>
                                        <div class="col-4">
                                            <input name="harga" type="number" class="form-control" value="<%= cars.harga %>" required>
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <label class="col-2 col-form-label required">Ukuran</label>
                                        <div class="col-4">
                                            <select name="id_size" class="w-100 h-100 rounded" style="border: 1px solid !important; color: #ced4da; ">
                                                <option value="">Pilih Size</option>
                                                <% for (var i in size) { %>
                                                    <option 
                                                        value="<%= size[i].id %>" 
                                                        <%= cars.id_size === size[i].id ? 'selected' : '' %>
                                                    ><%= size[i].name_size %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        
                            
                                    </div>
                                    <div class=" row">
                                        <label class="col-2 col-form-label required">Foto</label>
                                        <div class="col-4 upload-image">
                                            <input name="image" class="form-control" type="text" value="<%= size.url_image %>">
                                            
                                        </div>
                                    </div>

                                    <div class="posiBawah d-flex"> 
                                        <a href="/" >
                                            <button type="button" class="btn btn-outline-primary me-3">Cancel</button>
                                        </a>
                                        <a href="/">
                                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Save</button>
                                        </a>
                                    </div>
                            <form>
                        
                              
                        
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</html>
